<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeautomationapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndividualControlScreenActivity"
            android:label="@string/title_activity_Individual_Control" >
        </activity>
         <activity
            android:name=".EventsControlScreenActivity"
            android:label="@string/title_activity_Events_Control" >
        </activity>
        <activity
            android:name=".GeneralConfigurationScreenActivity"
            android:label="@string/title_activity_General_Configuration" >
        </activity>
        <activity
            android:name=".EventRegisterScreenActivity"
            android:label="@string/title_activity_Event_Register" >
        </activity>
        <activity
            android:name=".EventVisualizationScreenActivity"
            android:label="@string/title_activity_Event_Visualization" >
        </activity>
        <activity
            android:name=".HouseRegisterScreenActivity"
            android:label="@string/title_activity_House_Register" >
        </activity>        
        <activity
            android:name=".NetworkRegisterScreenActivity"
            android:label="@string/title_activity_Network_Register" >
        </activity>                
    </application>

</manifest>
